
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 200 20% 3%;

    --card: 0 0% 100%;
    --card-foreground: 200 20% 3%;

    --popover: 0 0% 100%;
    --popover-foreground: 200 20% 3%;

    --primary: 214 100% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 217 33% 17%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 217 9% 45%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 217 33% 17%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 50%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 200 20% 3%;
    --sidebar-primary: 214 100% 50%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 217 33% 17%;
    --sidebar-border: 214 32% 91%;
    --sidebar-ring: 217 91% 60%;
  }

  .dark {
    --background: 200 12% 8%;
    --foreground: 213 31% 91%;

    --card: 200 12% 8%;
    --card-foreground: 213 31% 91%;

    --popover: 200 12% 8%;
    --popover-foreground: 213 31% 91%;

    --primary: 214 100% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 75%;

    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 33% 20%;
    --input: 217 33% 20%;
    --ring: 212 94% 56%;

    --sidebar-background: 200 12% 8%;
    --sidebar-foreground: 213 31% 91%;
    --sidebar-primary: 214 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 213 31% 91%;
    --sidebar-border: 217 33% 20%;
    --sidebar-ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(155, 155, 155, 0.7);
}
